.about li {
  text-align: center;
  border: 1px solid var(--smoky-black);
  background-color: var(--about-white);
  padding: 2.5rem;
  box-sizing: border-box;
  border-radius: 10px;
}

@media (max-width: 96rem) {
  .about li {
    padding: 1rem;
  }
}

@media (max-width: 48rem) {
  .about li {
    padding: 0.8rem;
  }
}
