@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input {
  border: 2px solid black;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: blue;
}

body {
  max-width: 67vw;
  margin: 0 auto;
}
