@import "tailwindcss";
:root {
  --background: #f8f8f8;
  --foreground: #171717;
  --mg-l: 80px;
  --bg-fgray: #aeb3cb;
  --ucla-blue: #587792;
  --about-white: #f7f7ff;
  --smoky-black: #070600;
  --font-P: #01172f;
  --posts-bg: #d9d9d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

input {
  border: 2px solid black;
  border-radius: 5px;
}

.container {
  max-width: 67vw;
  margin: 0 auto;
}
button {
  display: block;
}
